<div class="welcome-container">
    <h1 class="display-4">Bienvenido a Lock Person</h1>
    <p class="lead mb-4">
        Transforma tus metas en logros. Visualiza tu progreso con gráficos interactivos, mantén un registro claro de tus tareas diarias y recibe el impulso que necesitas para conquistar tus objetivos. Más que una simple herramienta, somos el compañero que te inspira y te acompaña en cada paso de tu camino hacia el éxito.
    </p>
    <div class="action-buttons mt-5">
        <a routerLink="/login" class="btn btn-primary">Iniciar Sesión</a>
        <a routerLink="/signup" class="btn btn-register">Registrarse</a>
    </div>
</div>
