.welcome-container {
    text-align: center;
    max-width: 680px; /* Limita el ancho del texto para mejor legibilidad */
    margin-left: auto;
    margin-right: auto;
}

.welcome-container h1 {
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.welcome-container p {
    font-size: 1.2rem;
    color: #adb5bd;
}

.action-buttons a {
    min-width: 150px; /* Ancho mínimo para ambos botones */
    border-radius: 50px !important; /* ¡Siempre ovalados! */
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem;
    transition: transform 0.2s, background-color 0.2s, border-color 0.2s;
    color: #ffffff; /* Color de texto blanco para ambos botones */
}

.action-buttons a:hover {
    transform: translateY(-2px); /* Efecto hover sutil */
}

/* Estilo específico para el botón de Registrarse */
.btn-register {
    background-color: #591764;
    border-color: #591764;
}

/* Efecto hover para el botón de Registrarse */
.btn-register:hover {
    background-color: #781b88; /* Tono más oscuro de morado */
    border-color: #781b88;
    color: #ffffff
}

/* En pantallas pequeñas, los botones ocupan todo el ancho disponible */
@media (max-width: 767px) {
    .action-buttons a {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .welcome-container h1 {
        font-size: 2.8rem; /* Tamaño de fuente más adecuado para móviles */
    }
}
