<div class="container text-center">
    <h1 class="mb-4">¡Bienvenido, {{ name }}!</h1>
    <p class="lead mb-5">Selecciona un módulo para comenzar.</p>

    <!-- Cuadrícula de Módulos -->
    <div class="row justify-content-center">

        <!-- Botón para el módulo de Bullet Journal (visible para todos) -->
        <div class="col-md-4 mb-4">
            <a routerLink="/journal" class="btn btn-module">
                <i class="fas fa-book-open fa-3x mb-2"></i>
                <span class="d-block">Mi Bullet Journal</span>
            </a>
        </div>
        
        <!-- Botón para el panel de Administración (solo visible para admins) -->
        @if (isAdmin) {
            <div class="col-md-4 mb-4">
                <a routerLink="/users-list" class="btn btn-module">
                    <i class="fas fa-users-cog fa-3x mb-2"></i>
                    <span class="d-block">Admin</span>
                </a>
            </div>
        }

    </div>
</div>