{% extends "base.html" %}

{% block content %}
<style>
    .welcome-container {
        text-align: center;
        max-width: 680px; /* Limita el ancho del texto para mejor legibilidad */
        margin-left: auto;
        margin-right: auto;
    }

    .welcome-container h1 {
        font-size: 3.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    .welcome-container p {
        font-size: 1.2rem;
        color: #adb5bd;
    }

    .action-buttons a {
        min-width: 150px; /* Ancho mínimo para ambos botones */
        border-radius: 50px !important; /* ¡Siempre ovalados! */
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        font-weight: bold;
        margin: 0.5rem;
        transition: transform 0.2s, background-color 0.2s, border-color 0.2s;
        color: #ffffff; /* Color de texto blanco para ambos botones */
    }

    .action-buttons a:hover {
        transform: translateY(-2px); /* Efecto hover sutil */
    }
    
    /* Estilo específico para el botón de Registrarse */
    .btn-register {
        background-color: #9c27b0;
        border-color: #9c27b0;
    }

    /* Efecto hover para el botón de Registrarse */
    .btn-register:hover {
        background-color: #310b38; /* Tono más oscuro de morado */
        border-color: #310b38;
        color: #ffffff
    }

    /* En pantallas pequeñas, los botones ocupan todo el ancho disponible */
    @media (max-width: 767px) {
        .action-buttons a {
            width: 100%;
            display: block;
            margin-left: 0;
            margin-right: 0;
        }
        .welcome-container h1 {
            font-size: 2.8rem; /* Tamaño de fuente más adecuado para móviles */
        }
    }
</style>

<div class="welcome-container">
    <h1 class="display-4">Bienvenido a Lock Person</h1>
    <p class="lead mb-4">
        Transforma tus metas en logros. Visualiza tu progreso con gráficos interactivos, mantén un registro claro de tus tareas diarias y recibe el impulso que necesitas para conquistar tus objetivos. Más que una simple herramienta, somos el compañero que te inspira y te acompaña en cada paso de tu camino hacia el éxito.
    </p>
    <div class="action-buttons mt-5">
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Iniciar Sesión</a>
        <a href="{{ url_for('auth.signup') }}" class="btn btn-register">Registrarse</a>
    </div>
</div>
{% endblock %}
